.form {
    text-align: right;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    color: white;
    padding: 0.25rem 25px;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: #641e03;
    border-color: #641e03;
  }


    .summary h2 {
    font-size: 2rem;
    margin-top: 0;
  }


  @media only screen and (min-width: 600px) {

    .form button {
      padding: 0.25rem 2rem;
    }

  }